{% extends 'base.html' %}
        
{% block mainContent %}
<div class="my-post-align">
            </div>
    <main>
            <a type="button"  href = "{% url 'post-delete' post.id %}" class="btn btn-primary"
            style="background-color:pink; border: None; margin:20px 20px 0 0;float: right; ">삭제하기</a>

            <a type="button" href = "{% url 'post-edit' post.id %}"class="btn btn-primary"
            style="background-color:pink; border: None; margin:20px 20px 0 0; float: right; ">수정하기</a>
        <p>
            <h1>{{post.title}}</h1>
            작성 시간 : {{post.datetime}}
            <br>
            공개범위 : {{post.show}}
            {% if post.image %}
            <img src = {{post.image.url}} style="width:100%">
            {% endif %}
            <br>
            {{post.body}}
        </p>

        <form method="POST" action = "{% url 'comment_write' post.id %}">
            {% csrf_token %}
            <input type="text" name="content" style="width: 90%" placeholder="댓글을 입력하세요">
            <input type="submit" value="작성하기" />
        </form>
        <hr>

        {% for comment in post.comments.all %}
        <div class = "comment">
            <div class = "writer" style="color:blue; display:inline">{{ comment.comment_writer }}</div>
            <div class ="date" style="display:inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ comment.comment_date }}</div>
            <p>{{ comment.comment_contents }}</p>            
            <hr>
        </div>
        {% empty %}
        <p>아직 댓글이 없어요!</p>
        <hr>
        {% endfor %}
    </main>
{% endblock %}