{% extends 'base.html' %}

{% block mainContent %}

{% if form.errors %}
<div class="alert alert-danger">
    <p>{{ form.errors}}</p>
</div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">회원가입</h5>
                    <form method="post" action="{% url 'signup' %}" class="form-signin">
                        {% csrf_token %}
                        <div class="form-label-group">
                            <input type="text" name="username" id="username" class="form-control" placeholder="username"
                                required autofocus>
                        </div>
                        <div class="form-label-group">
                            <input type="password" name="password1" id="password1" class="form-control"
                                placeholder="password" required>
                        </div>
                        <div class="form-label-group">
                            <input type="password" name="password2" id="password2" class="form-control"
                                placeholder="check password" required>
                        </div>
                        <div>
                            <span>회원이라면 <a href="{% url 'login' %}">로그인 하기</a></span>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" value="signup" type="submit">회원가입</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}